[submodule "course-one-node-practice"]
	path = course-one-node-practice
	url = git@github.com:tranvantai0011/course-one-node-practice.git
[submodule "course-mongoose-practice"]
	path = course-mongoose-practice
	url = git@github.com:tranvantai0011/course-mongoose-practice.git
[submodule "social-network-mongoose"]
	path = social-network-mongoose
	url = git@github.com:tranvantai0011/social-network-mongoose.git
[submodule "xe-di-ke-final"]
	path = xe-di-ke-final
	url = git@github.com:tranvantai0011/xe-di-ke-final.git
[submodule "chat-message-app"]
	path = chat-message-app
	url = git@github.com:tranvantai0011/chat-message-app.git
[submodule "shoping-api"]
	path = shoping-api
	url = git@github.com:tranvantai0011/shoping-api.git
