[submodule "course-one-node-practice"]
	path = course-one-node-practice
	url = git@github.com:tranvantai0011/course-one-node-practice.git
[submodule "course-mongoose-practice"]
	path = course-mongoose-practice
	url = git@github.com:tranvantai0011/course-mongoose-practice.git
[submodule "social-network-mongoose"]
	path = social-network-mongoose
	url = git@github.com:tranvantai0011/social-network-mongoose.git
